<div>
  <app-input [parentFormGroup]="personForm" [controlName]="firstName" [text]="'First Name:'"></app-input>
  <app-input [parentFormGroup]="personForm" [controlName]="lastName"  [text]="'Last Name:'"></app-input>
  <app-input [parentFormGroup]="personForm" [controlName]="friends"  [text]="'Friends:'"></app-input>
  <app-input [parentFormGroup]="personForm" [controlName]="age"  [text]="'Age:'"></app-input>
  <app-input [parentFormGroup]="personForm" [controlName]="weight"  [text]="'Weight:'"></app-input>
</div>