<mat-card class="formCard">
  <form [formGroup]="personForm" (ngSubmit)="submitResult()">
    <div class="inputContainer">
      <app-input [parentFormGroup]="personForm" [controlName]="'firstName'" [text]="'First Name:'"></app-input>
      <app-input [parentFormGroup]="personForm" [controlName]="'lastName'"  [text]="'Last Name:'"></app-input>
      <app-input [parentFormGroup]="personForm" [controlName]="'friends'" [type]="'number'" [validator]="'digitValidator'" [text]="'Friends:'"></app-input>
      <app-input [parentFormGroup]="personForm" [controlName]="'age'" [type]="'number'" [validator]="'digitValidator'" [text]="'Age:'"></app-input>
      <app-input [parentFormGroup]="personForm" [controlName]="'weight'" [type]="'number'" [validator]="'digitValidator'" [text]="'Weight (lbs):'"></app-input>
    </div>
    <div class="buttonContainer">
      <button mat-raised-button color="primary" [disabled]="personForm.invalid" type="submit">Submit</button>
    </div>
    
  </form>
</mat-card>

